/* Start of Back Button Style */
.back_button div{
   font-size: 12px;
   font-weight: bold;
   float: left;
   border: 0px solid;
   display: table-cell;
   vertical-align: top;
}
.back_button .left_arrow{
   margin: 0 5px 0 0;
   height: 13px;
}

.back_button .text{
   padding: 1px 0 0 0;
}

.back_button {
 background-image: linear-gradient(#d8aa48, #cc8b00);
 border: 1px solid #cc8b00;
 border-radius: 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 direction: ltr;
 display: block;
 font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
 overflow: visible;
 padding: 4px 10px;
 text-align: center;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
}

.back_button:disabled {
 cursor: default;
 opacity: .3;
}

.back_button:hover {
 background-image: linear-gradient(#d38e4d, #cc6300);
 border-color: #cc7c31;
 text-decoration: none;
}

.back_button:active {
 background-image: linear-gradient(#94680a, #986902);
 border-color: #bd7903;
 outline: none;
}

.back_button:focus {
 box-shadow: rgba(252, 159, 28, 0.5) 0 0 0 3px;
 outline: none;
}
/* End of Back Button Style*/
