html {
   height: 100%;
}

/* Start of default light mode configuration */
body {
   display: flex;
   flex-direction: column;
   padding: 0;
   place-items: center;
   background-color: rgb(172, 172, 172);
   font: 15px Verdana;
   margin: 0 auto;
}

.resume_container{
   border: 0px solid rgb(151, 151, 151);
   background-color: rgb(255, 255, 255);
   -webkit-box-shadow: 0px 2px 4px 3px rgba(0,0,0,0.50);
   -moz-box-shadow: 0px 2px 4px 3px rgba(0,0,0,0.50);
   box-shadow: 0px 2px 4px 3px rgba(0,0,0,0.50);
   margin: 5px 0 20px 0;
}

.menu_container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px 25px 0 0;
   text-align: right;
}

.menu_container .back_button_container{
   padding: 2px 0 0 10px;
}

.menu_container .back_button_container a{
   text-decoration: none;
   font-size: 12px;
   font-weight: bold;
}

.menu_container .back_button_container a:hover{
   text-decoration:underline;
}

header {
   width: 800px;
}

.main {
   flex-grow: 1;
   display: flex;
   background: #ffffff;
   border-top: 2px solid black;
   width: 800px;
   padding: 0 0 10px 0;
}

.main .work {
   display: flex;
   flex-direction: column;
   background: #ffffff;
   padding: 0 20px 0 0;
}

.others{
   display: flex;
   flex-direction: column;
   background: #ffffff;
   width: 300px;
}

.header {
   display: flex;
   flex-direction: row;
   padding: 0 0 10px 0;
}

.box::before {
   display: flex;
   width: 35px;
   height: 50px;
   margin: 25px 10px 0 0;
   content: ' ';
}

.header .box::before {
   background-color: #2b343d;
}

.main .work .container .box::before {
   background-color: #ff0000;
}

.header .left {
   display: flex;
   flex-direction: column;
   width: 280px;
   margin-right: 30px;
   height: 170px;
}

.header .left .full_name {
   font-size: 30px;
   margin-top: 20px;
}

.header .left .title {
   font-size: 15px;
   color: red;
   margin-top: 1px;
}

.header .left .objective {
   font-size: 12px;
   margin-top: 7px;
}

.header .middle {
   display: flex;
   width: 150px;
   height: 170px;
}

.header .middle .photograph {
   display: flex;
   border-radius: 100%;
   overflow: hidden;
   border: 7px solid red;
   margin: 15px 0 0 0;
}

.header .middle .photograph img {
   width: 150px;
}

.header .right {
   display: flex;
   flex-direction: column;
   width: 290px;
   height: 170px;
   padding-top: 15px;
}

.header .right .contact {
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   margin-top: 6px;
}

.header .right .contact .info {
   text-align: right;
   border: 0px solid;
   font-size: 12px;
   width: 235px;
   height: 30px;
   vertical-align: middle;
}

.header .right .contact .icon {
   border: 0px solid;
   font-size: 13px;
   width: 25px;
   height: 30px;
   vertical-align: middle;
   text-align: center;
   margin-right: 20px;
}

.header .right .contact .icon .icon_email {
   width: 17px;
}

.header .right .contact .icon .icon_mobile {
   width: 12px;
}

.header .right .contact .icon .icon_location {
   width: 12px;
}

.header .right .contact .icon .icon_linkedin {
   width: 15px;
}

.main .work .title {
   margin: 15px 0 10px 43px;
}

.main .work .container {
   display: flex;
   margin: 0 0 25px 0;
   flex: 1;
   width: 480px;
}

.main .work .container .experience {
   display: flex;
   flex-direction: column;
   flex: 1;
}

.main .work .container .experience header{
   display: flex;
   flex-direction: column;
   flex: 1;
}

.main .work .container .experience .position{
   margin: 0;
}

.main .work .container .experience .company{
   font-weight:100;
   margin: 5px 0 0 0;
}

.main .work .container .experience .duration_location{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 12px;
   font-style: italic;
   color: #ff0000;
   margin: 7px 10px 5px 0;
   width: 430px;
   font-weight:100;
}

.main .work .container .experience .accomplishments {
   width: 430px;
}

.main .work .container .experience .accomplishments .title{
   font-size: 12px;
   font-style: italic;
   color: #ff0000;
   margin: 0 0 0 0;
   font-weight:100;
}

.main .work .container .experience .accomplishments ul{
   color: #ff0000;
   margin: 0 0 0 0;
   padding: 0 0 0 25px;
}

.main .work .container .experience .accomplishments ul li div{
   font-size: 11px;
   color: #000000;
   margin: 4px 0 0 0;
   padding: 0 0 0 0;
}

.main .others .skills .title {
   margin: 15px 0 0 0;
}
.main .others .skills .container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 3px 0 0 0;
   padding: 0 10px 10px 0;
   width: 100%;
   white-space: nowrap;
}

.main .others .skills .container .skill {
   display: flex;
   font: 11px Verdana;
   border-radius: 6px;
   background: #2b343d;
   color: #ffffff;
   padding: 5px 10px 5px 10px;
   white-space: nowrap;
   margin: 3px;
}

.main .others .education {
   display: flex;
   flex-direction: column;
}

.main .others .education .title {
   margin: 15px 0 10px 0;
}

.main .others .education .school {
   margin: 0 0 15px 0;
}

.main .others .education .school .name {
   font-weight: bold;
   font-size: 14px;
}

.main .others .education .school .department {
   font-size: 14px;
   margin: 5px 0 0 0;
}

.main .others .education .school .location {
   font-size: 12px;
   font-style: italic;
   color: #ff0000;
   margin: 3px 0 0 0;
}

.main .others .courses {
   display: flex;
   flex-direction: column;
   padding: 0 25px 0 0;
}

.main .others .courses .title {
   margin: 15px 0 10px 0;
   font-weight: bold;
   font-size: 17px;
}

.main .others .courses .container {
   margin: 0 0 10px 0;
}

.main .others .courses .container .name {
   font-size: 13px;
}

.main .others .courses .container .company {
   font-size: 12px;
   font-style: italic;
   color: #9b9b9b;
   margin: 3px 0 0 0;
}

.main .others .interests {
   display: flex;
   flex-direction: column;
   padding: 0 25px 0 0;
}

.main .others .interests .title {
   margin: 15px 0 10px 0;
}

.main .others .interests .container {
   margin: 0 0 10px 0;
}

.main .others .interests .container .icon {
   float: left;
}

.main .others .interests .container .icon img {
   width: 25px;
   height: 25px;
}

.main .others .interests .container .name {
   float: left;
   font-size: 13px;
   margin: 4px 0 0 5px;
}

.footer{
   font-size: 11px;
   text-align: center;
   margin-bottom: 5px;
}
/* End of default light mode configuration */


