html {
   height: 100%;           /* Fill all the window */
}

body {
   min-height: 100%;       /* At least fill all <html> */
   display: flex;          /* Magic begins */
   flex-direction: column; /* Column layout */
   margin: 0;
   padding: 0;
   place-items: center;
   background-color: rgb(233, 233, 233);
   font: 15px Verdana;
}
#resumewrapper{
   border: 0px solid rgb(151, 151, 151);
   background-color: rgb(255, 255, 255);
}

header {
   border: 0px solid black;
   width: 800px;
}
#main {
   flex-grow: 1;           /* Grow to fill available space */
   display: flex;
   background: #e8e8e8;
   border: 0px solid black;
   width: 800px;
}
#content_wrapper {
   background: yellow;
   flex-grow: 1;
}
#header div{
   float: left;
}

#header #hboxcontent{
   width: 50px;
   height: 150px;
}

#header #hboxcontent #hbox{
   width: 35px;
   height: 50px;
   background-color: rgb(18, 18, 83);
   display: block;
   margin: 30px 0 0 0;
}

#header #hcontent{
   display: flex;
   flex-direction: row;
   width: 748px;
   margin-bottom: 30px;
}

#header #hcontent .hcontent_column{
   float: left;
   height: 170px;
}

#header #hcontent #hcontent_left{
   float: none;
   display: flex;
   flex-direction: column;
   width: 280px;
}

#header #hcontent #hcontent_left #full_name{
   font-size: 30px;
   margin-top: 25px;
}
#header #hcontent #hcontent_left #title{
   font-size: 15px;
   color: red;
   margin-top: 1px;
}
#header #hcontent #hcontent_left #objective{
   font-size: 12px;
   margin-top: 10px;
}

#header #hcontent #hcontent_middle{
   float: none;
   width: 180px;
}

#header #hcontent #hcontent_middle .photo_container{
   display: inline-block;
   justify-content: center;
   text-align: center;
   position: relative;
   top:0;
   right:0;
   width: 180px;
   margin-top: 15px;
}

#header #hcontent #hcontent_middle .photo_container .photo_container__frame {
   display: inline-block;
   flex: 1 0 auto;
   z-index: 10;
   position: absolute;
   top:0;
   right:0;
}

#header #hcontent #hcontent_middle .photo_container .photo_container__photo {
   display: inline-block;
   align-self: center;
   z-index: 5;
   position: absolute;
   top:0;
   right:0;
}

#header #hcontent #hcontent_right{
   float: none;
   width: 290px;
   display: flex;
   flex-direction: column;
}

#header #hcontent #hcontent_right .contact_info{
   float: left;
   text-align: right;
   display: flex;
   flex-direction: column;
   border: 1px solid;
   font-size: 13px;
   margin-top: 5px;
   width: 240px;
}

#header #hcontent #hcontent_right .contact_icon{
   float: right;
   text-align: right;
   display: flex;
   flex-direction: column;
   border: 1px solid;
   font-size: 13px;
   margin-top: 5px;
   width: 40px;
}

#header #hcontent #hcontent_right .contact_icon > img {
   height: 40px;
   height: 40px;
 }